{% extends "base.html" %}

{% block title %}Eridan123{% endblock %}

{% block contenido %}
















    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-xl px-4 md:px-8">
            <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">Precios</h2>

            <div class="mb-6 grid gap-6 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 lg:gap-8">
                <!-- plan - start -->
                <div class="flex flex-col overflow-hidden rounded-lg border sm:mt-8">
                    <div class="h-2 bg-pink-500"></div>

                    <div class="flex flex-1 flex-col p-6 pt-8">
                        <div class="mb-12">
                            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Inicio Perfecto</div>

                            <p class="mb-8 px-8 text-center text-gray-500">Elige Tu Camino al Éxito Digital</p>

                            <div class="space-y-4">
                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Primer año incluido</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Seguro y confiable, 99.9% uptime.</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Sitio web responsive y optimizado.</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Soporte primer mes</span>
                                </div>
                                <!-- check - end -->
                            </div>
                        </div>

                        <div class="mt-auto">
                            <a href="#"
                                class="block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">$1,500</a>
                        </div>
                    </div>
                </div>
                <!-- plan - end -->

                <!-- plan - start -->
                <div class="flex flex-col overflow-hidden rounded-lg border-2 border-indigo-500">
                    <div
                        class="bg-indigo-500 py-2 text-center text-sm font-semibold uppercase tracking-widest text-white">
                        Crecimiento Acelerado</div>

                    <div class="flex flex-1 flex-col p-6 pt-8">
                        <div class="mb-12">
                            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Amigable</div>

                            <p class="mx-auto mb-8 px-8 text-center text-gray-500">Expande tu presencia en línea con
                                herramientas avanzadas y soporte dedicado.
                                Perfecto para negocios listos para escalar.</p>

                            <div class="space-y-4">
                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Almacenamiento de Productos de Asesoría y
                                        ejecución</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">10 GB bandwidth per month</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Soporte Remoto</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Asistencia prioritaria</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Garantia de reembolso 30 dias</span>
                                </div>
                                <!-- check - end -->
                            </div>
                        </div>

                        <div class="mt-auto">
                            <a href="#"
                                class="block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">$2,500</a>
                        </div>
                    </div>
                </div>
                <!-- plan - end -->

                <!-- plan - start -->
                <div class="flex flex-col overflow-hidden rounded-lg border lg:mt-8">
                    <div class="h-2 bg-gray-800"></div>

                    <div class="flex flex-1 flex-col p-6 pt-8">
                        <div class="mb-12">
                            <div class="mb-2 text-center text-2xl font-bold text-gray-800">Transformación Total</div>

                            <p class="mx-auto mb-8 px-8 text-center text-gray-500">Nuestro paquete más completo,
                                ofreciendo una solución integral para liderar
                                tu industria y maximizar tu impacto online.</p>

                            <div class="space-y-4">
                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Marketing Digital</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">SEO Avanzado</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Mantenimiento</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Actualizaciones regulares y optimizaciones</span>
                                </div>
                                <!-- check - end -->

                                <!-- check - start -->
                                <div class="flex items-center gap-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 shrink-0" fill="none"
                                        viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" fill="currentColor" class="text-gray-300" />
                                        <circle cx="8" cy="8" r="3" fill="currentColor" class="text-gray-500" />
                                    </svg>

                                    <span class="text-gray-600">Estrategias personalizadas para tu marca</span>
                                </div>
                                <!-- check - end -->
                            </div>
                        </div>

                        <div class="mt-auto">
                            <a href="#"
                                class="block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base">$5,500</a>
                        </div>
                    </div>
                </div>
                <!-- plan - end -->
            </div>
        </div>
    </div>



    <section class="py-12 bg-white">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-12">

            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
                <div class="p-6 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                    <h3 class="text-xl font-bold mb-2">Diseño Web</h3>
                    <p>Creación de sitios web de ecommerce atractivos y funcionales que reflejen la esencia de tu
                        marca.</p>
                </div>
                <div class="p-6 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                    <h3 class="text-xl font-bold mb-2">Desarrollo a Medida</h3>
                    <p>Desarrollamos soluciones personalizadas para satisfacer las necesidades específicas de tu
                        negocio en línea.</p>
                </div>
                <div class="p-6 transition-shadow border rounded-lg shadow-sm hover:shadow-lg">
                    <h3 class="text-xl font-bold mb-2">Optimización SEO</h3>
                    <p>Mejora tu visibilidad en línea y atrae a más clientes con nuestras estrategias de
                        optimización para motores de búsqueda.</p>
                </div>
            </div>
        </div>
    </section>











    <section class="py-12 bg-gray-100">
        <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="text-center mb-8">
                <h2 class="text-3xl font-bold text-gray-900">Contacto</h2>
                <p class="mt-4 text-xl">¿Listo para llevar tu negocio al próximo nivel? Contáctanos hoy mismo.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow">
                <form>
                    <div class="grid grid-cols-1 gap-6">
                        <label class="block">
                            <span class="text-gray-700">Tu nombre</span>
                            <input type="text"
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                placeholder="">
                        </label>
                        <label class="block">
                            <span class="text-gray-700">Tu correo electrónico</span>
                            <input type="email"
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                placeholder="">
                        </label>
                        <label class="block">
                            <span class="text-gray-700">Tu mensaje</span>
                            <textarea
                                class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                                rows="3"></textarea>
                        </label>
                        <button type="submit"
                            class="px-6 py-3 bg-blue-600 text-white font-bold rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
                            Enviar Mensaje
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>


{% endblock %}