{% extends "base.html" %}

{% block title %}Vinreportauto{% endblock %}

{% block contenido %}
<div class="mt-8 mb-8"> <!-- Agrega márgenes arriba y abajo -->
  <form method="POST" action="{{ url_for('register') }}">
      {{ form.csrf_token }}
      <div class="flex flex-col items-center justify-center px-4 py-4 mx-auto lg:py-0">
        <div class="w-full bg-white rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 lg:max-w-sm">
          <div class="p-4 space-y-3 md:space-y-4 sm:p-6">
            <p class="text-lg font-semibold leading-tight tracking-tight text-gray-900 md:text-xl">
              Crear una cuenta
            </p>
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-900">Correo</label>
            <input name="email" placeholder="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2" id="email" type="text" required>
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-900">Usuario</label>
            <input name="username" placeholder="UsuarioNombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2" id="username" type="text" required>
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-900">Contraseña</label>
            <input name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2" placeholder="••••••••" id="password" type="password" required>
          </div>
          <div>
            <label class="block mb-1 text-sm font-medium text-gray-900">Confirmar Contraseña</label>
            <input name="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2" placeholder="••••••••" id="confirmPassword" type="password" required>
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-4">
              <input name="terms" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-2 focus:ring-blue-400" type="checkbox" id="terms" required>
            </div>
            <div class="ml-2 text-sm">
              <label class="font-light text-gray-500">
                Acepto los 
                <a href="#" class="font-medium text-blue-600 hover:underline">
                  Términos y condiciones
                </a>
              </label>
            </div>
          </div>
          <button class="w-full bg-blue-500 hover:bg-blue-700 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center text-white" type="submit">
            Crear Cuenta
          </button>
        </div>
      </div>
    </div>
</form>
</div>
{% endblock %}
