<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="DaKCVIiBBvEbY1K5l_eAwYqvsdpCOsT232jQD96YgU8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Vinreportauto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z362DMJ2DW"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-Z362DMJ2DW');
</script>

<!-- Alerta! -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <div id="flash-messages" class="absolute top-0 left-0 right-0 z-50">
    <div class="max-w-sm mx-auto bg-white shadow-md rounded-lg p-4 space-y-4 mt-4">
      {% for category, message in messages %}
      <div class="alert fade-in {{ 'bg-green-100 text-green-800' if category == 'success' else 'bg-red-100 text-red-800' }} text-sm text-center">
        {{ message }}
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
{% endwith %}

<style>
    .fade-in {
      animation: fadeIn ease 3s;
      -webkit-animation: fadeIn ease 3s;
      -moz-animation: fadeIn ease 3s;
      -o-animation: fadeIn ease 3s;
      -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          setTimeout(function() {
            const flashMessages = document.getElementById('flash-messages');
            if(flashMessages) {
              flashMessages.style.display = 'none';
            }
          }, 3000);
        });
        </script>
        


<!-- Component Start -->

<body
    class="min-h-screen w-full overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
    <!-- Todo tu contenido aquí -->
    <div class="flex items-center w-full h-16 px-10 bg-white bg-opacity-75 relative" x-data="{ open: false }">
        <a href="/" aria-label="logo" class="flex items-center gap-2">
            <svg class="w-8 h-8 text-indigo-600" fill="currentColor" viewBox="0 0 95 94">
                <!-- SVG content here -->
            </svg>
            Vinreportauto
        </a>
    
        <!-- Enlaces visibles en pantallas grandes -->
        <div class="ml-auto hidden space-x-2 sm:flex">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="text-sm font-semibold text-gray-600 hover:text-indigo-700">Salir</a>
            <a href="{{ url_for('profile') }}" class="text-sm font-semibold text-gray-600 hover:text-indigo-700">{{ current_user.nombre_usuario | title }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="text-sm font-semibold text-gray-600 hover:text-indigo-700">Acceso</a>
            <a href="{{ url_for('register') }}" class="text-sm font-semibold text-gray-600 hover:text-indigo-700">Registro</a>
            {% endif %}
        </div>
    
        <!-- Icono de menú hamburguesa visible solo en pantallas pequeñas -->
        <button @click="open = !open" class="ml-auto flex sm:hidden z-20">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
        
        <!-- Menú desplegable para pantallas pequeñas -->
        <div class="absolute top-full mt-2 right-0 w-48 bg-white shadow-lg rounded-md overflow-hidden z-50 transform translate-x-0 transition ease-out duration-200" x-show="open" @click.away="open = false" x-cloak x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0 scale-95" x-transition:enter-end="opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95">
            <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Inicio</a>
            <a href="{{ url_for('contact') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Contacto</a>
                    {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Salir</a>
            <a href="{{ url_for('profile') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">{{ current_user.nombre_usuario | title }}</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Acceso</a>
            <a href="{{ url_for('register') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Registro</a>
            {% endif %}
        </div>
    </div>

    <style>
        [x-cloak] {
            display: none;
        }
    </style>

    <script src="https://unpkg.com/alpinejs@2.8.2" defer></script>
    
    
    


    {% block contenido %}
    
    {% endblock %}



    <!-- Footer Start -->
        <footer class="p-4 bg-white shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
        <div class="mx-auto max-w-screen-2xl">
            <div class="grid grid-cols-2 gap-12 md:grid-cols-4 lg:grid-cols-6 lg:gap-8">
                <div class="col-span-full lg:col-span-2">
                    <a href="/" class="inline-flex items-center gap-2 text-xl font-bold text-black md:text-2xl"
                        aria-label="logo">
                        <svg class="h-auto w-5 text-indigo-500" fill="currentColor" viewBox="0 0 95 94">
                            <path d="M96 0V47L48 94H0V47L48 0H96Z" />
                        </svg>
                        VinReportAuto
                    </a>
                    <p class="mt-4 mb-6 text-gray-500">"Orgullosos de los autos"</p>
                </div>

                <div>
                    <h3 class="mb-4 font-bold uppercase tracking-widest text-gray-800">Productos</h3>
                    <nav class="flex flex-col gap-4">
                        <a href="{{ url_for('show_data') }}"
                            class="text-gray-500 transition hover:text-indigo-500">SubastaVentrua</a>
                        <a href="{{ url_for('ecommerce') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Ecommerce</a>
                        <a href="{{ url_for('scraping') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Scraping</a>
                        <a href="{{ url_for('web') }}" class="text-gray-500 transition hover:text-indigo-500">Web</a>
                    </nav>
                </div>

                <div>
                    <h3 class="mb-4 font-bold uppercase tracking-widest text-gray-800">Compañia</h3>
                    <nav class="flex flex-col gap-4">
                        <a href="{{ url_for('about') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Nosotros</a>
                        <a href="{{ url_for('Investor') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Invierte</a>
                        <a href="{{ url_for('job') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Trabajo</a>
                    </nav>
                </div>

                <div>
                    <h3 class="mb-4 font-bold uppercase tracking-widest text-gray-800">Soporte</h3>
                    <nav class="flex flex-col gap-4">
                        <a href="{{ url_for('contact') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Contacto</a>
                        <a href="{{ url_for('faq') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Preguntas</a>
                    </nav>
                </div>

                <div>
                    <h3 class="mb-4 font-bold uppercase tracking-widest text-gray-800">Legal</h3>
                    <nav class="flex flex-col gap-4">
                        <a href="{{ url_for('termino') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Términos y Condiciones</a>
                        <a href="{{ url_for('privacy') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Política de Privacidad</a>
                        <a href="{{ url_for('aviso_cookies') }}"
                            class="text-gray-500 transition hover:text-indigo-500">Cookies</a>
                    </nav>
                </div>
            </div>

            <div class="mt-12 border-t pt-8 text-center text-sm text-gray-400">Vinreportauto © 2024. Todos los
                derechos reservados.</div>
        </div>
    </div>
</body>

<!-- Footer End -->