{% extends "base.html" %}

{% block title %}Invierte en Vinreportauto{% endblock %}

{% block contenido %}
<main class="mt-10 mb-20 px-4 py-8 mx-auto max-w-7xl">
    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
            <div class="text-center lg:w-2/3 w-full">
                <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
                    Invierte en Nosotros y Obtené Rendimientos Increíbles
                </h1>
                <p class="mb-8 leading-relaxed">
                    Somos una empresa dedicada a la compra y venta de autos provenientes de USA, especializándonos en hacer crecer tu dinero de manera modesta. Ven y conócenos.
                </p>
                <div class="flex justify-center">
                    <a href="{{ url_for('contact') }}" class="inline-flex text-white bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        Genera una Cita
                    </a>
                    <a href="mailto:info@Vinreportauto.com" class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">
                        Envía un Correo
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Aquí puedes añadir secciones adicionales como testimonios, estadísticas de éxito, etc. -->
</main>
{% endblock %}
